<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.common.dao.UTbPlayerMapper" >
  <resultMap id="PlayerResultMap" type="com.sojson.common.model.TbPlayer" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
    <result column="TEL_PHONE" property="telPhone" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="TINYINT" />
    <result column="AUDIT_FLAG" property="auditFlag" jdbcType="TINYINT" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="MOD_TIME" property="modTime" jdbcType="TIMESTAMP" />
    <result column="ACCOUNT" property="account" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Player_Column_List" >
    ID,ACCOUNT_NAME,NAME,ID_CARD,TEL_PHONE,DEL_FLAG,AUDIT_FLAG,crt_time,ACCOUNT,BZ,ACCOUNT
  </sql>
  <sql id="limit_sql">
  	   <if test="page_sql != null and page_sql != ''">
      	${page_sql}
      </if>
  </sql>
  
  <sql id="where_all">
  	<where>
      DEL_FLAG = 0
  	  <if test="name != null and name !='' " >
        and name like LOWER(CONCAT('%',#{name,jdbcType=VARCHAR},'%'))
      </if>
      <if test="accountName != null and accountName !=''">
        and ACCOUNT_NAME = #{accountName}
      </if>
      <if test="telPhone != null and telPhone !=''">
        and TEL_PHONE = #{telPhone}
      </if>
      <if test="idCard != null and idCard !=''">
        and ID_CARD = #{idCard}
      </if>
      <if test="account != null and account !=''">
        and ACCOUNT = #{account}
      </if>
      <if test="findContent != null and findContent !=''">
        and (name like LOWER(CONCAT('%',#{findContent,jdbcType=VARCHAR},'%'))
        or ACCOUNT_NAME like LOWER(CONCAT('%',#{findContent,jdbcType=VARCHAR},'%')))
      </if>
      <if test="idCard != null and idCard !=''">
        and ID_CARD = #{idCard}
      </if>
      <if test="auditFlag != null and auditFlag != ''">
        and AUDIT_FLAG = #{auditFlag}
      </if>
     </where>
  </sql>

  <sql id="order_all">
    ORDER BY AUDIT_FLAG,crt_time
  </sql>
  <select id="findAll" resultMap="PlayerResultMap" >
  	select
    <include refid="Player_Column_List" />
    from tb_player
    <include refid="where_all"/>
  </select>
  <select id="findCount" resultMap="PlayerResultMap" >
 	 select count(id) from  tb_player
  	<include refid="where_all" />
  </select>

  <select id="findAllNoPage" resultMap="PlayerResultMap" >
    select
    <include refid="Player_Column_List" />
    from tb_player
    <include refid="where_all"/>
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.sojson.common.model.TbPlayer" >
    insert into tb_player (ID,ACCOUNT_NAME,NAME,ID_CARD,TEL_PHONE,DEL_FLAG,AUDIT_FLAG,CRT_TIME)
    values (#{id,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR},
      #{telPhone,jdbcType=VARCHAR}, #{delFlag,jdbcType=TINYINT}, #{auditFlag,jdbcType=TINYINT}, #{crtTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sojson.common.model.TbPlayer" >
    update tb_player
    <set >
      <!--<if test="name != null" >-->
        <!--NAME = #{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="idCard != null" >-->
        <!--ID_CARD = #{idCard,jdbcType=VARCHAR},-->
      <!--</if>-->
      <if test="bz != null and bz != ''" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="account != null and account != ''" >
        ACCOUNT = #{account,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null and accountName !=''" >
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null and delFlag != ''" >
        DEL_FLAG = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="auditFlag != null and auditFlag != ''" >
        AUDIT_FLAG = #{auditFlag,jdbcType=TINYINT},
      </if>
      <if test="modTime != null and modTime != ''" >
        MOD_TIME = #{modTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
