<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.common.dao.UTbProblemMapper" >
  <resultMap id="ProblemResultMap" type="com.sojson.common.model.TbProblem" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PROBLEM" property="problem" jdbcType="VARCHAR" />
    <result column="ANSWER" property="answer" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="VOLUME" property="volume" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Problem_Column_List" >
    t.ID,t.PROBLEM,t.ANSWER,t.VOLUME,t.CRT_TIME
  </sql>

  <sql id="limit_sql">
  	   <if test="page_sql != null and page_sql != ''">
      	${page_sql}
      </if>
  </sql>
  
  <sql id="where_all">
  	<where>
  	  <if test="problem != null and problem !='' " >
        and t.PROBLEM like LOWER(CONCAT('%',#{problem,jdbcType=VARCHAR},'%'))
      </if>
     </where>
  </sql>


  <sql id="order_all">
    ORDER BY t.VOLUME,t.crt_time DESC
  </sql>
  <select id="findAll" resultMap="ProblemResultMap" >
  	select
    <include refid="Problem_Column_List" />
    from tb_problem t
    <include refid="where_all"/>
    <include refid="order_all"/>
    <include refid="limit_sql" />
  </select>


  <select id="findById" parameterType="java.lang.String" resultMap="ProblemResultMap" >
    select
    <include refid="Problem_Column_List" />
    from tb_problem t where t.ID  = #{id}
  </select>

  <select id="findCount" resultMap="ProblemResultMap" >
 	 select count(t.id) from  tb_problem t
  	<include refid="where_all" />
  </select>


  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.sojson.common.model.TbProblem" >
    insert into tb_problem (ID,PROBLEM,ANSWER,CRT_TIME,VOLUME)
    values ( #{id,jdbcType=VARCHAR},#{problem,jdbcType=VARCHAR},#{answer,jdbcType=VARCHAR},
       #{crtTime,jdbcType=TIMESTAMP}, #{volume,jdbcType=INTEGER}
      )
  </insert>

  <update id="update" parameterType="com.sojson.common.model.TbProblem" >
    update tb_problem
    <set >
      <if test="problem != null and problem !=''" >
        PROBLEM = #{problem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null  and answer !=''" >
        ANSWER = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="volume != null and volume != ''" >
        VOLUME = #{volume,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>


  <delete id="deleteById">
    delete from tb_problem where id =  #{id,jdbcType=VARCHAR}
  </delete>




</mapper>
