<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.common.dao.UTbVipsMapper" >
  <resultMap id="vipsResultMap" type="com.sojson.common.model.TbVips" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NICKNAME" property="nickName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="INVITAION_CODE" property="inviteCode" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="TINYINT" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="LEVEL" property="level" jdbcType="TINYINT" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="MOD_TIME" property="modTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="vips_Column_List" >
    d.ID,d.NICKNAME,d.INVITAION_CODE,d.LEVEL,d.PHONE,d.ADDRESS,d.END_TIME,d.crt_time,d.PASSWORD
  </sql>
  <sql id="vips_limit_sql">
  	   <if test="page_sql != null and page_sql != ''">
      	${page_sql}
      </if>
  </sql>
  
  <sql id="vips_where_all">
  	<where>
      d.DEL_FLAG = 0
      <if test="findContent != null and findContent !=''">
        and (d.NICKNAME like LOWER(CONCAT('%',#{findContent,jdbcType=VARCHAR},'%')))
      </if>
      <if test="inviteCode != null and inviteCode !='' " >
        and d.INVITAION_CODE = #{inviteCode}
      </if>
     </where>
  </sql>

  <sql id="vips_order_all">
    ORDER BY d.crt_time
  </sql>
  <select id="findAll" resultMap="vipsResultMap" >
  	select
    <include refid="vips_Column_List" />
    from tb_vip d
    LEFT JOIN tb_dealer v
    ON v.INVITE_NUM = d.INVITAION_CODE
    <include refid="vips_where_all"/>
    <if test="parentId != null and parentId !='' " >
      and v.fk_user_id = #{parentId}
    </if>
    <include refid="vips_order_all"/>
    <include refid="vips_limit_sql" />
  </select>
  <select id="findCount" resultMap="vipsResultMap" >
 	 select count(d.id) from  tb_vip d
  	<include refid="vips_where_all" />
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.sojson.common.model.TbVips" >
    insert into tb_vip (ID,PASSWORD,NICKNAME,INVITAION_CODE,PHONE,ADDRESS,DEL_FLAG,LEVEL,CRT_TIME)
    values (#{id},#{password},#{nickName},#{inviteCode},#{phone},#{address},#{delFlag},#{level},#{crtTime})
  </insert>
  <update id="update" parameterType="com.sojson.common.model.TbVips" >
    update tb_vip
    <set>
      MOD_TIME = #{modTime,jdbcType=TIMESTAMP}
      <if test="nickName != null and nickName !=''" >
        ,NICKNAME = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="level != null and level != ''">
        ,LEVEL = #{level}
      </if>
      <if test="address != null and address != ''">
        ,ADDRESS = #{address}
      </if>
    </set>
    where PHONE = #{phone,jdbcType=VARCHAR}
  </update>

  <update id="delete" parameterType="String">
    update tb_vip
    <set >
      DEL_FLAG = 1
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findUserByPhone" parameterType="com.sojson.common.model.TbVips" resultMap="vipsResultMap" >
    select <include refid="vips_Column_List" />
    from  tb_vip d
    where d.DEL_FLAG = 0
    AND d.PHONE = #{phone}
    <if test="password != null and password != ''">
      AND d.PASSWORD = #{password}
    </if>
  </select>

  <select id="getLevelByPhone" parameterType="String" resultType="byte" >
    select d.level from  tb_vip d where d.phone = #{phone}
  </select>

  <update id="updateEndTimeByStop">
    update tb_vip t
    set
    END_TIME = DATE_ADD(END_TIME, INTERVAL (

    timestampdiff(SECOND,case when timestampdiff(SECOND,t.CRT_TIME,(select s.BGN_TIME from tb_stop_date s)) > 0 then (select s.BGN_TIME from tb_stop_date s) else t.CRT_TIME end ,now())
    ) second)
    where LEVEL != 0 and DEL_FLAG = 0;

  </update>

  <update id="updateLevelByEndTIme">
    update tb_vip t
    set
    t.Level = 0
    where t.level != 0 AND DEL_FLAG = 0 AND t.END_TIME &lt;= #{nowDate,jdbcType=TIMESTAMP} ;

  </update>
</mapper>
