<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.common.dao.UTbVipRecordMapper" >
  <resultMap id="CountLevel" type="com.sojson.common.model.vo.VipRecordCount" >
      <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="INVITAION_CODE" property="invitaionCode" jdbcType="VARCHAR" />
    <result column="LEVEL" property="level" jdbcType="TINYINT" />
    <result column="countNum" property="countNum" jdbcType="INTEGER" />
      <result column="countMoney" property="countMoney" jdbcType="INTEGER" />
  </resultMap>

    <resultMap id="recordMap" type="com.sojson.common.model.TbVipRecord" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="vip_id" property="vipId" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="TINYINT" />
        <result column="crt_time" property="crtTime" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="belong" property="belong" jdbcType="VARCHAR" />
        <result column="belong2" property="belong2" jdbcType="VARCHAR" />
        <result column="totalAmount" property="totalAmount" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="recordVoMap" type="com.sojson.common.model.vo.TbVipRecordVo" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="vip_id" property="vipId" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="TINYINT" />
        <result column="crt_time" property="crtTime" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="belong" property="belong" jdbcType="VARCHAR" />
        <result column="belong2" property="belong2" jdbcType="VARCHAR" />
    </resultMap>

    <select id="countVipNum" resultMap="CountLevel" >
        select v.INVITAION_CODE,count(*) countNum from tb_vip v
        <include refid="where_count"/>
        GROUP BY v.INVITAION_CODE;
    </select>

  <select id="countByCode" resultMap="CountLevel" >
    select t.INVITAION_CODE,v.level,count(v.id) countNum,SUM(v.amount) countMoney from tb_vip t LEFT JOIN tb_vip_record v on t.id = v.vip_id
    <include refid="where_count"/>
    GROUP BY t.INVITAION_CODE,v.level
  </select>

  
  <sql id="where_count">
  	<where>
  	  <if test="bgnMonth != null and bgnMonth !='' " >
        and v.CRT_TIME &gt;= #{bgnMonth}
      </if>
      <if test="endMonth != null and endMonth !='' " >
        and v.CRT_TIME &lt;= #{endMonth}
      </if>
      <if test="bgnTime != null and bgnTime !=''">
        and v.CRT_TIME   &gt;= #{bgnTime}
      </if>
      <if test="endTime != null and endTime !=''">
        and v.CRT_TIME   &lt;= #{endTime}
      </if>
     </where>
  </sql>

    <sql id="where_record">
        <if test="startDate != null and startDate !=''">
            and r.CRT_TIME &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and r.CRT_TIME &lt;= #{endDate}
        </if>
    </sql>

    <select id="findByPageAdminCount" parameterType="map" resultType="int">
        SELECT count(r.id) from tb_vip_record r
        LEFT JOIN tb_vip d
       ON r.vip_id = d.id
       LEFT JOIN tb_dealer v
        ON v.INVITE_NUM = d.INVITAION_CODE
        LEFT JOIN tb_dealer v2
        ON v.parent_id= v2.FK_USER_ID
        where 1=1
        <include refid="where_record"/>
    </select>

    <select id="findByPageDealerCount" parameterType="map" resultType="int">
        SELECT count(r.id) FROM tb_vip_record r
         LEFT JOIN tb_vip d
       ON r.vip_id = d.id
       LEFT JOIN tb_dealer v
        ON v.INVITE_NUM = d.INVITAION_CODE
        LEFT JOIN tb_dealer v2
        ON v.parent_id= v2.FK_USER_ID
         WHERE vip_id IN(
            SELECT id FROM tb_vip WHERE INVITAION_CODE IN(
            SELECT INVITE_NUM FROM tb_dealer WHERE SEAT_NUM=#{seatNum}))
        <include refid="where_record"/>
    </select>

    <select id="findByPageEmployeeCount" parameterType="map" resultType="int">
        SELECT count(r.id) FROM tb_vip_record r
        LEFT JOIN tb_vip d
       ON r.vip_id = d.id
       LEFT JOIN tb_dealer v
        ON v.INVITE_NUM = d.INVITAION_CODE
        LEFT JOIN tb_dealer v2
        ON v.parent_id= v2.FK_USER_ID
        WHERE vip_id IN(
            SELECT id FROM tb_vip WHERE INVITAION_CODE = #{inviteCode})
    </select>

    <select id="findByPageAdmin" parameterType="map" resultMap="recordMap" >
        SELECT r.*,d.nickname as nickname,v.NAME AS belong,v2.`NAME` AS belong2
        FROM tb_vip_record r
        LEFT JOIN tb_vip d
        ON d.id=r.vip_id
         LEFT JOIN tb_dealer v
        ON v.INVITE_NUM = d.INVITAION_CODE
        LEFT JOIN tb_dealer v2
        ON v.parent_id= v2.FK_USER_ID
        where 1=1
        <include refid="where_record"/>
         LIMIT #{start},#{pageSize}
    </select>

    <select id="findByPageDealer" parameterType="map" resultMap="recordMap" >
        SELECT r.*,d.nickname as nickname,v.NAME AS belong,v2.NAME AS belong2 FROM tb_vip_record r
        LEFT JOIN tb_vip d ON r.vip_id=d.id
        LEFT JOIN tb_dealer v ON v.INVITE_NUM = d.INVITAION_CODE
        LEFT JOIN tb_dealer v2 ON v.parent_id= v2.FK_USER_ID
         WHERE r.vip_id IN(
            SELECT id FROM tb_vip WHERE INVITAION_CODE IN(
            SELECT INVITE_NUM FROM tb_dealer WHERE SEAT_NUM=#{seatNum}))
        <include refid="where_record"/>
             LIMIT #{start},#{pageSize}
    </select>

    <select id="findByPageEmployee" parameterType="map" resultMap="recordMap">
        SELECT r.*,d.nickname as nickname,v.NAME AS belong,v2.NAME AS belong2 FROM tb_vip_record r
        LEFT JOIN tb_vip d ON r.vip_id=d.id
        LEFT JOIN tb_dealer v ON v.INVITE_NUM = d.INVITAION_CODE
        LEFT JOIN tb_dealer v2 ON v.parent_id= v2.FK_USER_ID
         WHERE r.vip_id IN(
            SELECT id FROM tb_vip WHERE INVITAION_CODE = #{inviteCode}) LIMIT #{start},#{pageSize}
    </select>

    <select id="findByPageAdminSum" parameterType="map" resultType="java.lang.String">
        SELECT sum(r.amount) from tb_vip_record r
        LEFT JOIN tb_vip d
        ON r.vip_id = d.id
        LEFT JOIN tb_dealer v
        ON v.INVITE_NUM = d.INVITAION_CODE
        LEFT JOIN tb_dealer v2
        ON v.parent_id= v2.FK_USER_ID
        where 1=1
        <include refid="where_record"/>
    </select>

    <select id="findByPageDealerSum" parameterType="map" resultType="java.lang.String">
        SELECT sum(r.amount) FROM tb_vip_record r
        LEFT JOIN tb_vip d
        ON r.vip_id = d.id
        LEFT JOIN tb_dealer v
        ON v.INVITE_NUM = d.INVITAION_CODE
        LEFT JOIN tb_dealer v2
        ON v.parent_id= v2.FK_USER_ID
        WHERE vip_id IN(
        SELECT id FROM tb_vip WHERE INVITAION_CODE IN(
        SELECT INVITE_NUM FROM tb_dealer WHERE SEAT_NUM=#{seatNum}))
        <include refid="where_record"/>
    </select>

    <select id="findByPageEmployeeSum" parameterType="map" resultType="java.lang.String">
        SELECT sum(r.amount) FROM tb_vip_record r
        LEFT JOIN tb_vip d
        ON r.vip_id = d.id
        LEFT JOIN tb_dealer v
        ON v.INVITE_NUM = d.INVITAION_CODE
        LEFT JOIN tb_dealer v2
        ON v.parent_id= v2.FK_USER_ID
        WHERE vip_id IN(
        SELECT id FROM tb_vip WHERE INVITAION_CODE = #{inviteCode})
    </select>

    <sql id="where_dealerId">
        <where>
            <if test="dealerId != null and dealerId !='' " >
                and x.ID = #{dealerId} or x.PARENT_ID = (select tt.FK_USER_ID from tb_dealer tt where tt.ID = #{dealerId})
            </if>
        </where>
    </sql>

    <select id="countByEmployee" resultMap="CountLevel" >
        select a1.NAME,a2.INVITAION_CODE,a2.level,a2.countNum,a2.countMoney from
    (select t.INVITAION_CODE,v.level,count(v.id) countNum,SUM(v.amount) countMoney from tb_vip t INNER JOIN tb_vip_record v on t.id = v.vip_id
        <include refid="where_count"/>
    GROUP BY t.INVITAION_CODE,v.level) a2
        LEFT JOIN (select x.NAME,x.INVITE_NUM from tb_dealer x <include refid="where_dealerId"/>) a1
        on a1.INVITE_NUM = a2.INVITAION_CODE
    </select>

    <insert id="addRecord" useGeneratedKeys="true" keyProperty="id" parameterType="com.sojson.common.model.TbVipRecord" >
        insert into tb_vip_record (id,vip_id,level,crt_time,amount,remark)
        values (#{id},#{vipId},#{level},now(),#{amount},#{remark})
    </insert>

    <select id="findAllRecord" resultMap="recordMap" parameterType="map">
      SELECT * FROM tb_vip_record r LEFT JOIN tb_vip v ON v.id=r.vip_id WHERE v.phone=#{phone}
    </select>


</mapper>
