/* base style file
 * 
 * 1、general
 * 2、layout
 * 3、header
 * 4、footer
 * 5、bar
 * 6、nav
 * 7、menu (include: subMenu)
 * 8、pop modal
 * 9、width
 * 10、height
 * 11、margin
 * 12、padding
 * 13、login
 * 14、regsiter
 * 15、title  
 * 16、search
 * 17、pager
 * 18、tip
 * 19、link 
 * 20、form (include: input、select、textarea、radio、checkbox...)
 * 21、icon
 * 22、img
 * 23、btn
 * 24、tabs
 * 25、table
 * 26、box 
 * 27、list
 * 28、style
 * 29、...
 
 * 99、other
 * -------------------------------------------------- */


/* 1、general
 * -------------------------------------------------- */
@import url(reset.css);
body {
	width: 100%;
	font-family: Arial, "微软雅黑", sans-serif;
	background: #ffffff;
	color:#555;
	font-size:12px;
	position:relative;
}
a {
	color: #096394;
	text-decoration: none;
	cursor: pointer;
}
a:hover, a:visited {
	color: #08A0C1;
	text-decoration: none;
}
a.gray {
	color:#555;
}
a.gray:hover, a.gray:visited {
	color:#000;
}
p, span {
	line-height: 24px;
}
input, select, textarea {
	border:none;
	border-radius:4px;
	height:24px;
	line-height:24px;
	padding:3px 8px;
	font-family: Arial, "微软雅黑";
	font-size: 14px;
	color: #444;
}
input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover  {
	transition: all 0.8s;
}
input.radio, input.checkbox {
	border:none;
}
textarea {
	resize: none;
	line-height: 24px;
	min-height:80px;
}
select {
	height:32px;
}
select option {
	padding:5px 8px;
}
.clear {
	clear:both;
}
/* 2、layout
 * -------------------------------------------------- */
.bg {
	background: #720b20;
	width: 100%;
	height: 100%;
	min-width: 1100px;
}
.bg1 {
	background: #6c0c20;
	width: 100%;
	height: 100%;
	min-width: 1100px;
}
.pageWrapper1 {
	background:url(http://60.205.189.94/images/bm_form_bg.png) no-repeat;
	background-size: 100%;
	min-height: 1500px;
	width: 100%;
	position:relative;
	min-width:1100px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/bm_form_bg.png',sizingMethod='scale');
}
.pageWrapper {
	background:url(http://60.205.189.94/images/bm_bg.png) no-repeat;
	background-size: 100%;
	width:100%;
	min-height:768px;
	position:relative;
	min-width:1100px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/bm_bg.png',sizingMethod='scale');
}
.pageWrapper2 {
	min-height: 1000px;
	width: 100%;
	position:relative;
	min-width:1000px;
}
.main-page {
	overflow:hidden;
	width:40%;
	margin:0 auto;
}


/* 3、header
 * -------------------------------------------------- */
.header {
	background:#ffffff;
	min-width: 1000px;
	width:100%;
	overflow: hidden;
}
.header .content {
	margin:auto;
	width:1100px;
}

/* 4、footer
 * -------------------------------------------------- */
.footer {
	background:#1b1b1b;
	position:relative;
	bottom: 0;
	width:100%;
	min-width:1000px;
}
.footer .content {
	width:100%;
	margin:0 auto;
	text-align:center;
	font-size:12px;
	background: #222;
}
.footer .content ul {
	width:500px;
	margin:0 auto;
	overflow:hidden;
}
.footer .content ul li {
	float:left;
	padding:10px 5px;
}
.footer .content ul li a {
	color:#666666;
}
.footer .content ul li a:hover {
	color:#fff;
}
.footer .text {
	padding: 10px 0 20px 0;
	width: 1000px;
	margin: 0 auto;
}
.footer .text p {
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.home-footer {
	position: inherit;
}

/* 5、bar
 * -------------------------------------------------- */
.top-bar {
	background: #ebd4af;
	height: 20px;
	width: 100%;
	min-width: 1000px;
}

/* 6、nav
 * -------------------------------------------------- */
.top-nav {
	overflow: hidden;
	margin-top: 2.8%;
}
.top-nav ul {
	width: 40%;
}
.top-nav ul li {
	float:left;
	width: 50%;
	text-align: center;
}
.top-nav ul li a {
	padding:5% 2%;
	display:block;
	font-size:14px;
	color:#ffeba6;
	text-shadow: 1px 1px 3px #890726;
}
.top-nav ul li a:hover, .top-nav ul .on a {
	color:#fff;
}
.page-nav {
	margin: 10px auto;
	width: 1000px;
	overflow: hidden;
}
.page-nav li{
	float: left;
	line-height: 24px;
}
.page-nav li a, .page-nav li span {
	padding: 10px;
}
.page-nav li a {
	color: #888888;
}
.page-nav li a:hover {
	color: #e33434;
}

/* 8、pop modal
 * -------------------------------------------------- */
.overlay-bg {
	background-color: #000;
	opacity: 0.75;
	filter: alpha(opacity=75);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:999;
}
.float-div {
	left: 50%;
	position: absolute;
	z-index:1000;
	background:#fff;
	overflow:hidden;
	border-radius: 10px;
}
.float-div .icon {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 28px;
	height: 28px;
}
.float-div .icon:hover {
	opacity: 0.8;
}
.float-div .content .one-area .title {
	width: 70px;
	height: 20px;
	background: #f6e8d1;
	display: block;
	line-height: 20px;
	font-size:16px;
	color: #323232;
	font-weight: bold;
	padding-left: 5px;
	font-family:"微软雅黑";
}
.float-div .content .one-area {
	margin: 30px 0;
	font-family:"微软雅黑";
	font-size:14px;
}
.float-div .content .one-area p {
	margin: 20px 0;
	font-size: 14px;
	line-height: 26px;
}
.layer-big .float-div {
	width:800px;
	margin-left:-400px;
	z-index:1010;
	top: 3%;
}
.layer-small .overlay-bg {
	z-index:1002;
}
.layer-small .float-div {
	width:360px;
	margin-left:-180px;
	z-index:1003;
	top: 10%;
}

.layer-big .float-div .content {
	margin:40px 20px 30px 20px;
	padding: 10px 20px 30px 20px;
	overflow-x:hidden;
	min-height:200px;
	max-height: 480px;
}
.layer-big .float-div .btn {
	border-top:1px solid #efefef;
}
.layer-big .float-div .btn a {
	text-align: center;
	line-height: 60px;
	display: block;
	font-size: 20px;
	color: #dca54b;
}
.layer-big .float-div .btn a:hover {
	color: #f3b756;
}
.layer-small .float-div .content {
	min-height:60px;
	padding:20px;
	font-size:14px;
	max-height:400px;
	overflow-x:hidden;
}
.layer-small .float-div .float-title {
	border-bottom:1px solid #e5e5e5;
}
.float-div .float-title {
	overflow:hidden;
	padding:10px;
}
.float-div .float-title i {
	width:24px;
	height:24px;
	float:left;
	margin:6px 5px 0 0;
}
.float-div .float-title h3 {
	color:#83889a;
	font-size:17px;
	float:left;
	margin:7px 0;
}
.float-div .float-title a {
	width:32px;
	height:32px;
	float:right;
}
.float-div .btns {
	padding:10px;
	background:#f5f5f5;
	border-top: 1px solid #e5e5e5;
	margin-top: 20px;
}
.float-div .btns .btn {
	margin:0 0 0 10px;
}
.float-div .content p {
	font-size:16px;
}
.float-layer {
	position: fixed;
	z-index: 999;
	right: 20px;
	top: 140px;
}
.float-layer .content .icon-close {
	width: 24px;
	height: 24px;
	position: absolute;
	top:10px;
	right: 10px;
}
.float-layer .content .fw-box {
	background: url(http://60.205.189.94/images/bg_fwtd.png) no-repeat;
	background-size: 100%;
	width: 178px;
	height: 268px;
	position: relative;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/bg_fwtd.png',sizingMethod='scale');
}
.float-layer .content .zn-box {
	background: url(http://60.205.189.94/images/bg_dszn.png) no-repeat;
	background-size: 100%;
	width: 178px;
	height: 174px;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/bg_dszn.png',sizingMethod='scale');
}
.float-layer .content .zn-box .icon-close {
	top:35px;
}
.float-layer .content a:hover {
	opacity: 0.9;
}
.float-layer .content .fw-box .btns {
	width:156px;
	margin: 85px auto 0 auto;
}
.float-layer .content .zn-box .btns {
	width:158px;
	margin: 55px auto 0 auto;
}
.float-layer .content .btn {
	margin: 10px 0;
}
.float-layer .content .fw-box .btn {
	width:156px;
	height: 36px;
	display: block;
}
.float-layer .content .zn-box .btn {
	width:158px;
	height: 44px;
	display: block;

}


/* 9、width
 * -------------------------------------------------- */

.width-1000 { width: 1000px!important;}
.width-250 { width: 250px!important;}
.width-240 { width: 240px!important;}
.width-220 { width: 220px!important;}
.width-200 { width: 200px!important;}
.width-190 { width: 190px!important;}
.width-170 { width: 170px!important;}
.width-160 { width: 160px!important;}
.width-150 { width: 150px!important;}
.width-120 { width: 120px!important;}
.width-105 { width: 105px!important;}
.width-90 { width: 90px!important;}
select.width-240 { width: 260px!important;}

/* 11、margin
 * -------------------------------------------------- */
.mt-30 { margin-top:30px!important;}
.mr-20 { margin-right:20px!important;}
.mb-20 { margin-bottom:20px!important;}
.mt-0 { margin-top:0!important;}
.mr-0 { margin-right:0!important;}
.mr-20 { margin-right:20px!important;}
.mt-10 { margin-top:10px!important;}
.pt-0  { padding-top:0!important;}
.ml-10 { margin-left:10px!important;}
.mtb-20 { margin-top:20px!important; margin-bottom:20px!important;}

/* 13、login
 * -------------------------------------------------- */

.login .title {
	margin: 20px auto;
	font-size: 18px;
	text-align: center;
}
.login .one {
	margin: 10px auto;
	overflow: hidden;
}
.login .one .input-area {
	border: 1px solid #d4d4d4;
}
.login .one .input-area input {
	height: 30px;
	line-height: 30px;
}
.login .one i {
	width: 30px;
	height: 30px;
	float: left;
	margin: 3px 5px;
}
.login .one .left-area {
	line-height: 28px;
	float: left;
	font-size: 12px;
}
.login .one .left-area .radio {
	margin-right:5px;
	margin-left: 2px;
	padding: 0;
	float: left;
}
.login .one .right-area {
	float: right;
	font-size: 12px;
}
.login .login-btn {
	width:100%;
	height: 40px;
	text-align: center;
	font-size: 18px;
	background: #e33434;
	color: #fff;
	display: block;
	line-height: 40px;
}
.login .login-btn:hover {
	background: #cd3434
}
.login .one p {
	text-align: center;
	font-size: 12px;
}

/* 14、regsiter
 * -------------------------------------------------- */
 
 .register .top-box .content .right-area .link {
	 float:none;
	 margin-left:10px;
	 color:#e01818;
}
 .register .top-box .content .right-area .link:hover {
	 color:#f90606;
}
 .register .main {
	 background:#f7f7f7;
	 overflow:hidden;
}
 .register .main .content {
	 background:#fff;
	 margin:20px auto;
	 width:1000px;
	 overflow:hidden;
}
 .register .main .content .title {
	 border-bottom:1px solid #ebebeb;
	 overflow:hidden;
	 margin:20px;
}
 .register .main .content .title h3 {
	 color:#333;
	 float:left;
	 font-size:16px;
	 border-bottom: 4px solid #e33434;
	 padding:5px 5px 10px 5px;
}

/* 17、pager
 * -------------------------------------------------- */
.pager {
	margin:20px 0 0 0;
	overflow:hidden;
}
.pager .page-numb {
	float:right;
	line-height:36px;
	margin-right:10px;
	color:#969696;
}
.pager ul {
	border:1px solid #d9dfea;
	border-radius:4px
}
.pager ul li {
	float:left;
	position:relative;
	border-right:1px solid #d9dfea;
}
.pager ul li:last-child {
	border:none;
}
.pager ul li:first-child a {
	border-radius:4px 0 0 4px;
}
.pager ul li:last-child a {
	border-radius:0 4px 4px 0;
}
.pager ul li a, .pager ul li span {
	background:#fff;
	width:32px;
	height:32px;
	line-height:32px;
	text-align:center;
	display:block;
	color:#555;
}
.pager ul li .text {
	padding:0 10px;
}
.pager ul li a:hover {
	color:#000;
	background:#f9fafb;
	transition:all 0.3s;
}
.pager ul li span {
	color:#ec4b2f;
	font-weight:bold;
}
.pager ul li .icon i {
	font-size:12px;
	color:5b9fea;
}

/* 20、form
 * -------------------------------------------------- */
.bm-form {
	margin: 155% auto 35% auto;
	background: #f1ce90;
	border-radius: 6px;
	padding: 20px 40px;
}

.bm-form .input-style {
	background: #fff8bb;
	box-shadow: 1px 2px 3px #eec07d;
	margin:15px 0;
	border-radius: 4px;
	width: 100%;
	overflow: hidden;

}
.bm-form .input-style p {
	float: left;
	color: #1b1b1b;
	width: 60px;
	line-height: 38px;
	font-size: 14px;
	padding: 0 0 0 10px;
}
.bm-form .input-style em {
	line-height: 38px;
	padding: 0 0 0 10px;
	float: left;
}
.bm-form input {
	float: left;
	width: 70%;
	line-height: 38px;
	height: 38px;
	padding: 0;
	background:none;
	margin-left: 20px;
}
.bm-form input.width-4 {
	width:40%;
}
.bm-form .link, .bm-form .numb {
	float: right;
	margin-right: 8px;
	line-height: 38px;
}
.bm-form .numb {
	font-size: 14px;
	color: #0b9f81;
}
.bm-form .tip-wrong {
	color: #e61939;
}
.bm-form .tip-wrong .icon {
	margin-right: 3px;
}
.bm-form .tip-right {
	color: #0b9f81;
}
.bm-form .link .icon {
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 10px;
}
.bm-form .tip {
	line-height: 30px;
	color: #ae4902;
}
.bm-form .one-line {
	overflow: hidden;
}
.bm-form .one-line .radio-style {
	width: auto;
	margin-left: 1px;
	line-height: 60px;
	margin-top: 11px;
	margin-right: 10px;
}
.bm-form .one-line .read-text {
	float: left;
	width: 200px;
}
.bm-form .one-line .read-text p {
	display: block;
	line-height: 60px;
	color: #1b1b1b;
}
.bm-form .one-line .read-text p a {
	margin: 10px;
	text-decoration: underline;
}
.bm-form .tip-content {
	margin: 100px auto 150px auto;
}
.bm-form .tip-content i {
	width: 40px;
	height: 40px;
	display: block;
	/*margin: 20px auto 0 auto;*/

}
.bm-form .tip-content h4 {
	font-size: 20px;
	/*margin-left:-1px;*/
	line-height: 50px;
	color: #323232;
	width: 100%;
}
.bm-form .tip-content p {
	/*margin-left:126px;*/
	font-size: 13px;
	margin-bottom: 20px;
}
.input {
	border:1px solid #ebebeb;
}




/* 21、icon
 * -------------------------------------------------- */
.icon-close { background: url(http://60.205.189.94/images/icon_close.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_close.png',sizingMethod='scale');}
.icon-wrong { background: url(http://60.205.189.94/images/icon_wrong.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_wrong.png',sizingMethod='scale');}
.icon-right { background: url(http://60.205.189.94/images/icon_right.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_right.png',sizingMethod='scale');}
.icon-weibo { background: url(http://60.205.189.94/images/icon_weibo.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_weibo.png',sizingMethod='scale');}
.icon-jf { background: url(http://60.205.189.94/images/icon_jf.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_jf.png',sizingMethod='scale');}
.icon-bmcs { background: url(http://60.205.189.94/images/icon_bmcs.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_bmcs.png',sizingMethod='scale');}
.icon-gszc { background: url(http://60.205.189.94/images/icon_gszc.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_gszc.png',sizingMethod='scale');}
.icon-ranking { background: url(http://60.205.189.94/images/icon_ranking.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_ranking.png',sizingMethod='scale');}
.icon-one { background: url(http://60.205.189.94/images/icon_one.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_one.png',sizingMethod='scale');}
.icon-two { background: url(http://60.205.189.94/images/icon_two.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_two.png',sizingMethod='scale');}
.icon-three { background: url(http://60.205.189.94/images/icon_three.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_three.png',sizingMethod='scale');}
.icon-tj { background: url(http://60.205.189.94/images/icon_tj.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_tj.png',sizingMethod='scale');}
.icon-gz { background:url(http://60.205.189.94/images/logo_gz.png) no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/logo_gz.png',sizingMethod='scale');}
.icon-jd { background:url(http://60.205.189.94/images/logo_jd.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/logo_jd.png',sizingMethod='scale');}
.icon-arrow-down { background:url(http://60.205.189.94/images/icon_arrow_down.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_arrow_down.png',sizingMethod='scale');}
.icon-phone { background:url(http://60.205.189.94/images/icon_phone.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_phone.png',sizingMethod='scale');}
.icon-qq { background:url(http://60.205.189.94/images/icon_qq.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_qq.png',sizingMethod='scale');}
.img-wechat-1 { background:url(http://60.205.189.94/images/img_wechat_01.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/img_wechat_01.png',sizingMethod='scale');}
.img-wechat-2 { background:url(http://60.205.189.94/images/img_wechat_02.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/img_wechat_02.png',sizingMethod='scale');}
.fw-box .icon-close { background:url(http://60.205.189.94/images/icon_close_golden.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_close_golden.png',sizingMethod='scale');}
.zn-box .icon-close { background:url(http://60.205.189.94/images/icon_close_red.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_close_red.png',sizingMethod='scale');}
.btn-zxzx { background:url(http://60.205.189.94/images/btn_zxzx.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/btn_zxzx.png',sizingMethod='scale');}
.btn-cjwt { background:url(http://60.205.189.94/images/btn_cjwt.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/btn_cjwt.png',sizingMethod='scale');}
.btn-gywm { background:url(http://60.205.189.94/images/btn_gywm.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/btn_cjwt.png',sizingMethod='scale');}
.btn-appxz { background:url(http://60.205.189.94/images/btn_appxz.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/btn_appxz.png',sizingMethod='scale');}
.btn-bmcs { background:url(http://60.205.189.94/images/btn_bmcs.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/btn_bmcs.png',sizingMethod='scale');}
.btn-gszc { background:url(http://60.205.189.94/images/btn_gszc.png)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/btn_gszc.png',sizingMethod='scale');}
.btn-fzxzx { background:url(../images/btn_fzxzx.jpg)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/btn_fzxzx.jpg',sizingMethod='scale');}
.btn-fcsrk { background:url(../images/btn_fcsrk.jpg)no-repeat;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/btn_fcsrk.jpg',sizingMethod='scale');}
.icon-un { background:url(../images/icon_un.png)100%;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/icon_un.png',sizingMethod='scale');}
.icon-pw { background:url(../images/icon_pw.png)100%;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/icon_pw.png',sizingMethod='scale');}
.pf-box .icon-close { background:url(../images/icon_close_white.png)100%;background-size: 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/icon_close_white.png',sizingMethod='scale');}


/* 22、img
 * -------------------------------------------------- */


/* 23、btn
 * -------------------------------------------------- */
.btns {
	overflow:hidden;
	margin-bottom:10px;
}
.btn-bm {
	margin: 61% auto;
	width: 442px;
	overflow: hidden;
}
.btn-bm .btn-bm-1 {
	background: url(http://60.205.189.94/images/bm_btn_01.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
	width: 130px;
	height: 54px;
	display: block;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/bm_btn_01.png',sizingMethod='scale');
}
.btn-bm .btn-bm-1:hover:hover {
	opacity: 0.9;
}
.bm-form .btn-bm1 {
	background: url(http://60.205.189.94/images/bm_btn_bg.png) no-repeat;
	background-size: 100%;
	width: 156px;
	height: 60px;
	float: right;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	color: #482e05;
	margin: 0;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/bm_btn_bg.png',sizingMethod='scale');
}
.bm-form .btn-bm1:hover {
	opacity: 0.8;
	color: #432901;
}
.bm-form .btn-bm1.disable {
	opacity: 0.6;
	color: #84632f;
}
.btn-register {
	background:#e33434;
	width:150px;
	height:44px;
	line-height:44px;
	text-align:center;
	display:block;
	font-size:16px;
	color:#fff;
}
.btn-register:hover {
	background:#cd3434;
	color:#fff;
}
.btn-zf {
	background: #e33434;
	font-size: 14px;
	padding: 15px 50px;
	margin: 10px 0 20px 80px;
	color: #fff;
	float: left;
}
.btn-zf:hover {
	background: #d82a2a;
	color: #fff;
}

/* 24、tabs
 * -------------------------------------------------- */
.tab1 {
	overflow: hidden;
	border-bottom: 1px solid #efefef;
	margin-bottom: 20px;
}
.tab1 a {
	float:left;
	padding: 10px;
	color: #323232;
	font-size: 14px;
}
.tab1 a:hover, .tab1 .link:hover {
	color:#e33434;
}
.tab1 a.on {
	border-bottom: 2px solid #e33434;
	color: #e33434;
}
.tab1 .link {
	float: right;
	color: #888888;
}

/* 25、table
 * -------------------------------------------------- */
.table1 {
	width: 100%;
}
.table1 tr th {
	background: #fceed9;
	text-align: center;
	line-height: 26px;
}
.table1 tr td {
	text-align: center;
	line-height: 38px;
}
.table1 .bg td {
	background: #efefef;
}
.table1 tr td.red, .table1 tr td .red {
	color:#ec4b2f;
}
.table1 tr td.yellow, .table1 tr td .yellow {
	color: #c8a470;
}
.table1 tr td .red:hover {
	color: #f56329;
}
.table1 tr td em {
	width: 24px;
	height: 24px;
	display: block;
	margin: 0 auto;
	font-style: normal;
	text-align: center;
	color: #fff;
	line-height: 24px;
}
.table2 {
	margin:0 auto 40px auto;
}
.table2 tr th ,.table2 tr td {
	padding:10px;
}
.table2 tr td .yzm {
	border:1px solid #e33434;
	padding:7px 10px;
	margin-left:10px;
	color:#e33434;
	border-radius:4px;
}
.table2 tr td .yzm:hover {
	color:#f90606;
}


/* 26、box
 * -------------------------------------------------- */
.top-box {
	overflow: hidden;
	background: #fff;
}
.top-box .content {
	width:1000px;
	margin: 0 auto;
	padding: 25px 0 50px 0;
}
.top-box .content .logo {
	background:url(../images/logo.png) no-repeat;
	background-size: 70%;
	width: 421px;
	height: 49px;
	float: left;
	margin-left: -50px;
	margin-bottom: 20px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/logo.png',sizingMethod='scale');
}
.top-box .content .right-area {
	float: right;
}
.top-box .content .right-area .link {
	float: left;
	margin-right: 20px;
	line-height: 32px;
	color: #888888;
}
.top-box .content .right-area .link:hover {
	color: #555;
}
.top-box .content .right-area .link .icon {
	float: left;
	width: 32px;
	height: 32px;
}
.top-box .content .right-area .btn-contact {
	float: left;
	background: url(http://60.205.189.94/images/btn_contact.png) no-repeat;
	background-size: 70%;
	width: 120px;
	height:42px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/btn_contact.png',sizingMethod='scale');
}
.top-box .content .right-area .btn-contact:hover {
	opacity: 0.9;
}
.slider-box {
	position: relative;
	overflow: hidden;
}
.slider-box .slider-content li {
	float: left;
	width: 100%;
}
.slider-box .slider-content li .banner {
	position: relative;
}
.slider-box .slider-content li .banner img {
	width: 100%;
	min-width: 1000px;
}
.slider-box .slider-content li .banner .bottom-link {
	position: absolute;
	width: 100%;
	bottom: 3%;
}
.slider-box .slider-content li .banner .content {
	width: 1000px;
	margin: 0 auto;
}
.slider-box .slider-content li .banner .content .links i {
	float:left;
	width: 30px;
	height: 30px;
	margin-right: 20px;
	margin-left: 40px;
}
.slider-box .slider-content li .banner .content .links {
	overflow: hidden;
	width:500px;
	margin: 0 auto;
}
.slider-box .slider-content li .banner .content .links .link {
	line-height: 40px;
	color: #fff;
	font-size: 22px;
	/*width: 200px;*/
}
.slider-box .slider-content li .banner .content .links .link:hover {
	color:#feebb7;
}
.slider-box .slider-dot {
	position: absolute;
	bottom: 15%;
	right: 20%;
	z-index: 99;
}
.slider-box .slider-dot li {
	width: 8px;
	height: 8px;
	border-radius: 3px;
	float: left;
	margin: 0 2px;
	background: #c71d1c;
	opacity: 0.8;

}
.slider-box .slider-dot li.on {
	background: #fff;
}
.main-box {
	overflow: hidden;
	border-bottom: 1px solid #efefef;
	padding-bottom: 40px;
}
.main-box .title {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
}
.header .title {
	border-bottom: 1px solid #ebebeb;
}
.main-box .content {
	width:1000px;
	overflow: hidden;
	margin: 40px auto 0 auto;
}
.main-box .content .floatL {
	border:2px solid #efefef;
}
.main-box .content .table-area {
	width:400px
}
.main-box .content .table-area1 {
	width:1000px
}
.main-box .content .table-area h3 {
	background: #f22f2e;
	color: #fff;
	text-align: center;
	line-height: 46px;
}
.main-box .content .table-area1 h3 {
	background: #f22f2e;
	color: #fff;
	text-align: left;
	line-height: 30px;
	padding-left: 15px;
	font-size: 13px;
}
.main-box .content .table-area1 h3 .icon {
	float:left;
	width: 20px;
	height: 20px;
	margin-top: 5px;
	margin-right: 2px;
}
.main-box .content .table-area1 .table1 tr th {
	line-height: 46px;
}
.me .main-box .bg-white {
	margin:0 auto 20px auto;
	padding:20px;
}
.me .main-box .bg-white .img-ewm p {
	text-align:center;
	font-size: 16px;
}
.me .main-box .bg-white .img-ewm p b {
	color: #e33434;
	font-size: 20px;
	margin: 0 2px;
}
.me .main-box .bg-white .img-ewm .ewm {
	margin: 20px auto;
	width: 160px;
	height: 160px;
	padding: 10px;
	background:#eeeeee;
	display: block;
}
.style1 .main-box {
	padding-bottom: 0;
	border: none;
}
.style1 .mid-banner-1 {
	margin-top: 40px;
}
.style1 .contact-box .content {
	margin: 40px auto;
}
.bg-white {
	box-shadow: 0 2px 5px #eee;
}
.ld-box {
	width:28%;
	height: 300px;
	border:3px solid #9b0000;
	float: left;
	margin: 0 20px;
}
.ld-box i {
	width:32px;
	height: 32px;
	display: block;
	margin: 90px auto 30px auto;
}
.ld-box p {
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.ld-box em {
	width: 40px;
	height: 2px;
	background: #fff;
	margin: 80px auto 0 auto;
	display: block;
}
.contact-box {
	background:#535353;
	border: none;
}
.contact-box .content .left-area {
	float: left;
	width: 45%;
	margin-left: 50px;
	border-right: 1px solid #727272;
}
.contact-box .content .left-area .logo-white {
	background:url(../images/logo_white.png) no-repeat;
	background-size: 65%;
	width: 461px;
	height: 54px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/logo_white.png',sizingMethod='scale');
}
.contact-box .content .left-area .one-area {
	margin-top:20px;
	color: #fff;
}
.contact-box .content .left-area .one-area .icon {
	float: left;
	width: 32px;
	height: 32px;
	margin-top: 5px;
}
.contact-box .content .left-area .one-area p {
	display: block;
	margin-left: 45px;
	line-height: 22px;
}
.contact-box .content .right-area {
	float: right;
	width: 320px;
	margin-right: 50px;
}
.contact-box .content .right-area .one-area {
	float: left;
	margin: 0 30px;
	width: 100px;
}
.contact-box .content .right-area .one-area i {
	width: 100px;
	height: 100px;
	float: left;
}
.contact-box .content .right-area .one-area p {
	text-align: center;
	color: #fff;
}
.contact-box .content .right-area .text {
	margin: 30px auto 0 auto;
	color: #fff;
	text-align: center;
	float: left;
	width: 320px;
}
.head-box {
	float: left;
	border:1px solid #dadada;
	
}
.head-box img {
	width:100px;
	height: 100px;
	padding: 10px;
}
.head-cont-box {
	float: left;
	margin-left: 20px;
	position: relative;
}
.head-cont-box h3 {
	font-size: 22px;
	border-bottom:1px solid #dadada;
	overflow: hidden;
	width: 800px;
	padding-bottom: 10px;
}
.head-cont-box h3 span {
	float: left;
	line-height: 30px;
}
.head-cont-box h3 .tag {
	text-align: center;
	width: 50px;
	height: 30px;
	background: #e33434;
	color: #fff;
	font-size: 14px;
	border-radius: 40px;
	margin: 0 0 0 10px;
}
.head-cont-box h3 .tag_has {
	text-align: center;
	width: 50px;
	height: 30px;
	border: 1px solid #e33434;
	font-size: 14px;
	border-radius: 40px;
	margin: 0 0 0 10px;
}
.head-cont-box h3 .border-style1 {
	width: 70px;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	float: left;
}
.head-cont-box h3 .border-style1:hover {
	background: #cd3434;
}
.head-cont-box p {
	padding: 20px 0 10px 0;
	color: #888;
}
.head-cont-box p b {
	color: #e33434;
	font-weight: normal;
	margin-right: 3px;
}
.head-cont-box .red {
	padding-top: 0;
	font-size: 20px;
	color: #e33434;
	font-weight: bold;
}
.head-cont-box .day {
	font-size: 16px;
	color: #323232;
	line-height: 24px;
}
.head-cont-box .day b {
	font-size: 22px;
	color: #e33434;
	margin-left: 10px;
}
.head-cont-box .text-area {
	overflow: hidden;
	padding: 20px 0 0 0;
}
.head-cont-box .text-area .L, .head-cont-box .text-area .R {
	float: left;
	padding: 0 20px
}
.head-cont-box .text-area .L {
	border-right: 1px solid #dadada;
	padding-left: 0!important;
}
.head-cont-box .text-area .title {
	border-bottom: none;
	font-size: 14px;
}
.head-cont-box .text-area p {
	padding: 0;
	font-size: 20px;
	line-height: 26px;
	color: #323232;
}
.head-cont-box .btns {
	position: absolute;
	right: 40px;
	top: 80px;
}
.head-cont-box .btns .btn {
	padding: 8px 20px;
	border: 1px solid #e33434;
	display: block;
	float: left;
	margin-left: 20px;
	color: #e33434;
}
.head-cont-box .btns .btn:hover {
	background: #fefafa;
}
.head-cont-box .btns .btn.disable, .head-cont-box .btns .btn.disable:hover {
	color: #bdbdbd;
	border: 1px solid #bdbdbd;
	background: #fff;
}
.select-box {
	overflow: hidden;
}
.select-box .one-area {
	width: 300px;
	float: left;
	overflow: hidden;
	border:1px solid #ececec;
	margin: 20px 8px;
	position: relative;
	cursor: pointer;
}
.select-box .one-area:hover {
	opacity:0.85;
}
.select-box .one-area .icon-on {
	background: url(../images/icon_select_on.png) no-repeat;
	position: absolute;
	right: 0;
	top:0;
	width: 30px;
	height: 30px;
}
.select-box .one-area .img-area {
	background:url(../images/img_charge_bg.png) no-repeat;
	background-size: 100%;
	width: 220px;
	height: 85px;
	display: block;
	margin: 40px auto;
}
.select-box .one-area .img-a{
	background:url(../images/vip_a.png) no-repeat;
}
.select-box .one-area .img-b{
	background:url(../images/vip_b.png) no-repeat;
}
.select-box .one-area .img-c{
	background:url(../images/vip_c.png) no-repeat;
}

.select-box .on {
	border:2px solid #e33434;
}
.select-box .on .img-area {
	/*background:url(../images/img_charge_bg_on.png) no-repeat;*/
}
.select-box .one-area .img-area .L {
	float: left;
	font-size: 24px;
	color: #8a8a8a;
	width: 90px;
	text-align: center;
}
.select-box .one-area .img-area .R {
	float: right;
	font-size: 20px;
	color: #c3c3c3;
	width: 130px;
	text-align: center;
}
.select-box .on .img-area .L {
	color: #b38b53;
}
.select-box .on .img-area .R {
	color: #fff;
}
.select-box .one-area .img-area span {
	line-height: 85px;
}
.select-box .one-area p {
	border-top: 1px solid #eeeeee;
	line-height: 60px;
	text-align: center;
	margin: 20px;
	font-size: 14px;
	color: #c3c3c3;
}
.select-box .on p {
	color: #323232;
}
.select-box .title-style {
	float: left;
	line-height: 80px;
	margin-right: 20px;
}
.select-box .select-cont {
	overflow: hidden;
	margin: 20px 0;
	line-height: 40px;
	padding-bottom: 10px;
	padding-top: 4px;
}
.select-box .select-cont .select-btn {
	height: 40px;
	width: 100px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	float: left;
	border:1px solid #dadada;
	color: #888;
	margin-right: 20px;
	position: relative;
	cursor: pointer;
}
.select-box .select-cont .select-btn:hover {
	opacity: 0.85;
}
.select-box .select-cont .select-btn .icon-on {
	background: url(../images/icon_select_on.png) no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	top:0;
}
.select-box .select-cont .on {
	border:2px solid #e33434;
	color: #e33434;
}
.select-box .select-cont .one {
	padding: 10px;
	overflow: hidden;
	border: 1px solid #f7f7f7;
	margin-bottom: 20px;
}
.select-box .select-cont .one:hover {
	opacity: 0.85;
	cursor: pointer;
}
.select-box .select-cont .one p {
	float: left;
	padding: 10px;
	line-height: 20px;
	font-size: 16px;
	width: 160px;
}
.select-box .select-cont .one.on {
	border: 2px solid #2f85df;
}
.select-box .select-cont .one .radio-style {
	width: 50px;
}
.select-box .select-cont .one input {
	height: auto;
}
.select-box .select-cont .one p.tit {
	font-size: 20px;
	width: 250px;
	text-align:left;
}
.select-box .select-cont .one p b {
	font-size: 18px;
	color: #e33434;
	margin: 0 5px;
}
.select-box .select-cont .add-btn {
	border: 1px dashed #b7b7b7;
	color: #3a9afe;
	font-size: 14px;
	padding: 15px 20px;
}
.select-box .select-cont .input-numb {
	overflow: hidden;
}
.select-box .select-cont .input-numb input {
	float: left;
	border: 1px solid #b7b7b7;
	padding: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	margin: 5px;
}
.select-box .select-cont .add-btn:hover {
	color: #1f7ee1;
}
.select-box .select-cont .tip {
	color: #aaaaaa;
}
.cont-box .content {
	width: 1000px;
	margin: 20px auto;
	overflow: hidden;
}
.cont-box .content .title {
	color: #323232;
	margin: 20px;
	border-bottom:1px solid #ebebeb;
	padding-bottom: 10px;
}


/* 27、list
 * -------------------------------------------------- */
 
.list1{
	border-top: 1px #ebebeb!important;
	background-color: #fff;
	overflow: hidden;
}
.list1 li {
	float: left;
	line-height: 64px;
	height: 64px;
}
.list1 li a {
	line-height: 61px;
	height: 61;
	display: block;
	padding: 0 30px;
	color: #5f5f5f;
	font-size: 16px;
	border-top: 5px solid transparent;
}
.list1 li a:hover {
	border-top: 5px solid #f22f2e;
	color: #f22f2e;
}
.list1 li.on a {
	border-top: 5px solid #f22f2e;
	color: #f22f2e;	
}
.list2 {
	width: 560px;
	float: right;
}
.list2 .oneline {
	overflow: hidden;
	margin-bottom: 20px;
}
.list2 .oneline .img {
	float: left;
	border:1px solid #efefef;
	padding: 2px;
}
.list2 .oneline .text {
	margin-left: 120px;
}
.list2 .oneline .text p {
	line-height: 18px;
	color: #888888;
}
.list2 .oneline .text .tit {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #c2c2c2;
	color: #323232;
}
.list2 .oneline .text .tit a {
	position: absolute;
	right:0;
	top:0;
	line-height: 20px;
	background:#e1c9a6;
	padding: 0 20px;
	color: #8f6e40;
}
.list2 .oneline .text .tit a:hover {
	background: #edd7b8;
}
.main-box .content .list3 {
	width:40%;
	margin: 0 40px;
	border: none;
}
.list3 li a {
	padding: 10px;
	border-bottom: 1px dashed #b7b7b7;
	display: block;
	color:#9a9a9a;
	line-height: 24px;
}
.list3 li a:hover{
	color:#555;
}
.list3 li a i {
	float:left;
	width: 24px;
	height: 24px;
	border-radius: 4px;
	background: #dec4a5;
	color: #fff;
	line-height: 24px;
	text-align: center;
	margin-right: 10px;
}
.list4 .item {
	margin: 10px 20px;
	overflow: hidden;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}
.list4 .item img {
	float: left;
	width: 170px;
	height: 100px;
}
.list4 .item .text {
	width: 760px;
	margin-left: 20px;
	overflow: hidden;
	float: left;
}
.list4 .item .text h3 {
	color: #323232;
	font-size: 16px;
	line-height: 38px;
}
.list4 .item .text p {
	color: #777777;
}
.list4 .item .text p a {
	color: #e33434;
}
.list4 .item .text p a:hover {
	color: #b91e1e;
}


/* 28、style
 * -------------------------------------------------- */

.clear {
	clear:both;
}
.floatL {
	float:left;
}
.floatR {
	float:right;
}
.text-center {
	text-align:center;
}
.mid-banner {
	background: url(../images/mid_banner_01.png) no-repeat;
	width: 1000px;
	height: 190px;
}
.mid-banner-1 {
	background:#db372a;
	min-width: 1000px;
	height:163px;
	padding-bottom: 0;
	overflow:visible;
	border: none;
}
.mid-banner-1 .content {
	position: relative;
	top:-31px;
	background: url(http://60.205.189.94/images/mid_banner_02.png) no-repeat;
	background-size: 100%;
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/mid_banner_02.png',sizingMethod='scale');
}
.mid-banner-1 .link {
	position: absolute;
	top:45px;
	right:10px;
	z-index: 99;
	color: #fff;
	background: #691610;
	opacity: 0.8;
	width: 60px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 11px;
}
.mid-banner-1 .link:hover {
	opacity: 0.9;
}
.mid-banner-1 .btn {
	position: absolute;
	width: 160px;
	right: 340px;
	bottom: 30px;
	border: 1px solid #fff;
	padding-left: 10px;
	color: #fff;
}
.mid-banner-1 .btn:hover {
	opacity: 0.9;
}
.mid-banner-1 .btn p {
	float: left;
}
.mid-banner-1 .btn p span {
	margin-left: 10px;
}
.mid-banner-1 .btn i {
	width: 10px;
	height: 10px;
	float: left;
	margin-left: 10px;
	margin-top: 6px;
}

.bg-red {
	position: relative;
	height: 460px;
}

.bg-red img {
	width: 100%;
	min-width: 1000px;
	height: 460px;
	position: absolute;
}
.bg-red .cont-area {
	position: absolute;
	width: 100%;
	z-index: 99;
}
.bg-red .cont-area .title {
	padding-bottom: 10px;
	border-bottom: 1px solid #9b0000;
	position: relative;
	z-index: 99;
	height: 86px;
	margin-bottom: 20px;
}
.bg-red .cont-area .title .title-3 {
	border-bottom: 3px solid #9b0000;
	padding-bottom: 15px;
	position: absolute;
	left: 43%;
	z-index: 99;
}
.bg-red .cont-area .content {
	width: 1000px;
	margin: 0 auto;
}
.title-1 {
	width: 64px;
	height: 40px;
	margin: 40px auto 0 auto;
	background: url(http://60.205.189.94/images/img_title_01.png) no-repeat;
	background-size: 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/img_title_01.png',sizingMethod='scale');
}
.title-2 {
	width: 240px;
	height: 66px;
	margin: 40px auto 0 auto;
	background: url(http://60.205.189.94/images/img_title_02.png) no-repeat;
	background-size: 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/img_title_02.png',sizingMethod='scale');
}
.title-3 {
	width: 117px;
	height: 40px;
	margin: 40px auto 0 auto;
	background: url(http://60.205.189.94/images/img_title_03.png) no-repeat;
	background-size: 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/img_title_03.png',sizingMethod='scale');
}
.title-4 {
	width: 112px;
	height: 42px;
	margin: 40px auto 0 auto;
	background: url(http://60.205.189.94/images/img_title_04.png) no-repeat;
	background-size: 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/img_title_04.png',sizingMethod='scale');
}
.slider-dot {
	width: 60px;
	margin: 20px auto;
	overflow: hidden;
}
.slider-dot li {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	float: left;
	margin: 0 2px;
	background: #b8b8b8;
	opacity: 0.8;

}
.slider-dot li.on {
	background: #db372a;
}
.border-none {
	border:none!important;
}
.bg-gray {
	background: #f7f7f7;	
}
.bg-white {
	background: #fff;
}
.border-style1 {
	border-radius: 0!important;
}
.text-div .icon {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 28px;
	height: 28px;
}
.text-div .icon:hover {
	opacity: 0.8;
}
.text-div .content .one-area .title {
	width: 70px;
	height: 20px;
	background: #f6e8d1;
	display: block;
	line-height: 20px;
	font-size:16px;
	color: #323232;
	font-weight: bold;
	padding-left: 5px;
	font-family:"微软雅黑";
	padding-bottom: 0;
}
.text-div .content .one-area {
	margin: 30px 0;
	font-family:"微软雅黑";
	font-size:14px;
}
.text-div .content .one-area p {
	margin: 20px 0;
	font-size: 14px;
	line-height: 26px;
}
.main-box .text-div .content {
	margin-top: 0;
}
.detail .content {
	padding:40px;
	width: 920px;
}
.detail .content .title {
	font-size: 22px;
	margin: 0;
	border: none;	
	color: #222;
}
.detail .content .infor {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	overflow: hidden;
	color: #aaa;
}
.detail .content .detail-cont p {
	margin: 10px 0;
}
.detail .content .detail-cont img {
	display: block;
	margin: 20px auto;
}
.recharge .float-div {
	width: 500px;
	margin-left: -250px;
	top:50%;
}
.recharge .float-div .title {
	margin: 20px 25px 0 25px;
	padding-bottom: 15px;
	font-size: 16px;
	border-bottom: 1px solid #e0e0e0;
}
.recharge .float-div .table2 tr td select {
	border: 1px solid #ebebeb;
}


/*--------------------页面修改_20180909--------------------------*/
.bm-form i {
	margin:auto;

}
.bm-form h4 {
	text-align: center;
	display:inline-block;
	margin-left: 10px;

}

.bm-form p{
	text-align: center;
	display:inline-block;
	margin-left: 10px;
}
.tip-content {
	text-align: center;
}

/*--------------------奖项设置--------------------------*/
.awards {
	/*float: left;*/
	height: 1500px;
	background-color:white;
	padding-top: 30px;
	text-align: center;



}
.awards-img {
	/*float: left;*/
	height: 1500px;
	width: 1000px;
	margin: auto;
	display: inline-block;
	background-color:white;
}

#pay_bank_div{
	display: none;
}

/*---------- 10.19 update --------*/

.table1 tr td .red {
	position: relative;
}
.table1 tr td a .icon-down {
	width: 16px;
	height: 16px;
	background: url(http://60.205.189.94/images/icon_down.png) no-repeat;
	background-size: 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://60.205.189.94/images/icon_down.png',sizingMethod='scale');
	font-size: 100%;
	float: left;
	position: absolute;
	right: -18px;
	top: -2px;
}
.bg-yellow {
	background: #fff9f1;
}
.table-style1 {
	border:1px solid #fcd190;
}
.table-style1 tr th {
	background:#fff9f1;
	color: #424242;
}
.table-style1 tr td {
	color: #767676;
}

/*---------------projectile frame-----------------*/

.projectile-frame {
	position: fixed;
	z-index: 1000;
	left:0px;
	top: 0px;
	width: 490px;
	height: 240px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 2px 2px 5px #1d0806a4
}
.projectile-frame .content {
	width: 100%;
	height: 100%;
}
.projectile-frame .content .icon-close {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 16px;
	right: 16px;
}
.projectile-frame .content .pf-box {
	background: url(../images/bg_djss.png) no-repeat;
	background-size: 100%;
	width: 100%;
	height: 180px;
	position: relative;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_djss.png',sizingMethod='scale');
}
.projectile-frame .content .ch-box {
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 10px;
}
.projectile-frame .content .ch-box .btn{
	display: inline-block;
	width: 180px;
	height: 30px;
	margin-right: 20px;
}
.projectile-frame .content .ch-box .btn:last-child{
	margin-right: 0;
}










