#playerForm i{
    color:#adb5bd;
    font-size: 2rem;
}

#playerForm .pass:hover{
    color:#82c91e;
}

#playerForm .fail:hover{
    color:#f06595;
}

#playerForm .normal:hover{
    color: #4dabf7;
}

#div_refresh{
    cursor: pointer;
    width: 5rem;
    height: 3.5rem;
    text-align: center;
    padding: 0.75rem;
    float: right;
    background-color: #339af0;
    border-radius: 5px;
}

#div_refresh:hover{
    background-color: #1864ab;
}

#i_refresh{
    color: #ffffff !important;
    font-size: 2rem;
}

#pay_bank_div i{
    font-size: 1.5rem;
}

#pay_bank_div .pass{
    color:#82c91e;
}

#pay_bank_div .fail{
    color:#f06595;
}

#pay_bank_div .icon-vali{
    width:2rem;
    height: 2rem;
}