#playerForm i{
    color:#adb5bd;
    font-size: 2rem;
}

#playerForm .pass:hover{
    color:#82c91e;
}

#playerForm .fail:hover{
    color:#f06595;
}

#playerForm .normal:hover{
    color: #4dabf7;
}