#playerForm i{
    color:#adb5bd;
    font-size: 2rem;
}

#playerForm .pass:hover{
    color:#82c91e;
}

#playerForm .fail:hover{
    color:#f06595;
}

#playerForm .normal:hover{
    color: #4dabf7;
}

#div_refresh{
    cursor: pointer;
    width: 5rem;
    height: 3rem;
    text-align: center;
    padding: 0.75rem;
    float: right;
    background-color: #339af0;
    border-radius: 5px;
}

#div_refresh:hover{
    background-color: #1864ab;
}

#i_refresh{
    color: #ffffff !important;
    font-size: 2rem;
}

#pay_bank_div i{
    font-size: 1.5rem;
}

#pay_bank_div .pass{
    color:#82c91e;
}

#pay_bank_div .fail{
    color:#f06595;
}

#pay_bank_div .icon-vali{
    width:2rem;
    height: 2rem;
}
#pay_list i{
    font-size: 1.8rem;
}

#icon-bank-del{
    text-align: center;
}

#pay_list .del:hover{
    color:#e33434;
}

#pay_yzm .yzm {
    border:1px solid #e33434;
    padding:7px 10px;
    margin-left:20px;
    color:#e33434;
    border-radius:4px;
    line-height: 50px;
}
#pay_yzm .yzm:hover {
    color:#f90606;
}

.btn-zf-disable {
    background: #e3e3e3;
    font-size: 14px;
    padding: 15px 50px;
    margin: 10px 0 20px 80px;
    color: #fff;
    float: left;
}
.btn-zf-disable:hover{
    text-decoration: none;
    cursor: pointer;
    color: #fff !important;
}

.yzm-disable {
    border:1px solid #e3e3e3;
    padding:7px 10px;
    margin-left:20px;
    color:#e3e3e3;
    border-radius:4px;
    line-height: 50px;
}
.yzm-disable:hover {
    color:#e3e3e3;
}

.yzm-highLight{
    border: 2px solid deepskyblue !important;
}

.btn-changePwd {
    background: #e33434;
    font-size: 14px;
    padding: 15px 50px;
    margin: 10px 0 20px 20px;
    color: #fff;
    float: left;
}

.btn-changePwd:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff !important;
}

.btn-changePwd-disable {
    background: #e3e3e3;
    font-size: 14px;
    padding: 15px 50px;
    margin: 10px 0 20px 20px;
    color: #fff;
    float: left;
}

.btn-changePwd-disable:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff !important;
}

#changePassForm .icon-vali{
    width:2rem;
    height: 2rem;
    padding-left: 10px;
}

#changePassForm i{
    font-size: 1.5rem;
}

#changePassForm .pass{
    color:#82c91e;
}

#changePassForm .fail{
    color:#f06595;
}

#registerForm .icon-vali{
    width:2rem;
    height: 2rem;
    padding-left: 10px;
}

#registerForm i{
    font-size: 1.5rem;
}

#registerForm .pass{
    color:#82c91e;
}

#registerForm .fail{
    color:#f06595;
}

#div_total{
    width: 10rem;
    height: 3.5rem;
    text-align: center;
    padding: 0.75rem;
    float: right;
}



